# Server configuration
PORT=3000
NODE_ENV=development

# Judge0 API configuration
# Ask the owner
JUDGE0=

# Database configuration
MONGO=
# For MongoDB Atlas: MONGO=mongodb+srv://username:password@cluster.mongodb.net/cp_platform

# Firebase configuration(IMPORTANT)
# Note: Firebase service account key is stored in serviceAccountKey.json file
# You should download this file from Firebase Console
# and place it in the project root directory

# If your Judge0 instance requires different auth credentials
# replace 'your_auth_user' and 'your_auth_token' with actual values
JUDGE0_AUTH_USER=user-defined
JUDGE0_AUTH_TOKEN=user-defined
